<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
<body>
<div class="container">
    <div th:insert="fragments/commonui :: userheader"></div>

    <div class="card">

        <div class="card-header bg-primary text-white text-center">
            <h3>USER LOGIN PAGE</h3>
        </div>

        <div class="card-body">
            <form method="POST" th:action="@{/login}">

                <div class="row">
                    <div class="col-2">
                        <label for="username">UserName</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="username" name="username"
                               placeholder="Enter Email Id" required="required"
                               type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="password" name="password"
                               placeholder="Enter Password" required="required"
                               type="password"/>
                    </div>
                </div>

                <br/>
                <input class="btn btn-success" type="submit" value="Login"/>
                <a class="btn btn-info" th:href="@{/user/showForgotPwd}">Forgot Password?</a>
                <a class="btn btn-warning" th:href="@{/user/showActivateByOtp}">Activate By OTP?</a>
            </form>
        </div>
        <!--card body end-->

        <div class="card-footer bg-white">
				<span class="text-danger" th:if="${param.error}"> <b>Invalid
						User/Password (or) Inactive User</b>
				</span> <span class="text-success" th:if="${param.success}"> <b>User
						Logout Successful!</b>
				</span>
        </div>
        <!-- card footer end -->

    </div>
    <!-- card end -->


</div>
</body>
</html>