<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Sale Edit Form</title>
</head>
<body>

<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header text-center text-white bg-primary">
            <h3>Sale Order Registration Form</h3>
        </div>
        <!-- header end -->
        <div class="card-body">
            <form id="saleOrderForm" method="POST"
                  th:action="@{/saleorder/update}" th:object="${saleOrder}">
                <!-- row#1 -->
                <input readonly="readonly" th:field="*{id}" type="hidden"/>
                <div class="row">
                    <div class="col-2">
                        <label for="orderCode">Order Code</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" th:field="*{orderCode}"
                               type="text"/>
                    </div>
                    <div class="col-6">
                        <span id="orderCodeError"></span>
                    </div>
                </div>
                <!-- row#Integration1 -->
                <div class="row">
                    <div class="col-2">
                        <label>Shipment Code</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="shipmentCode" th:field="*{shipmentCode.id}">
                            <option value="">SELECT</option>
                            <option th:each="ob:${shipmentTypes}" th:text="${ob.value}" th:value="${ob.key}"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span id="shipmentCodeError"></span>
                    </div>
                </div>

                <!-- row#Integration2 -->
                <div class="row">
                    <div class="col-2">
                        <label>Vendor</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="customer" th:field="*{customer.id}">
                            <option value="">SELECT</option>
                            <option th:each="ob:${whUserTypes}" th:text="${ob.value}" th:value="${ob.key}"></option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span id="customerError"></span>
                    </div>
                </div>


                <!-- row#2 -->
                <div class="row">
                    <div class="col-2">
                        <label for="referenceNumber">Reference Number</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" th:field="*{referenceNumber}"
                               type="text"/>
                    </div>
                    <div class="col-6">
                        <span id="referenceNumberError"></span>
                    </div>
                </div>
                <!-- row#3 -->
                <div class="row">
                    <div class="col-2">
                        <label for="stockMode">Stock Mode</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{stockMode}" type="radio" value="Grade"/> Grade
                        <input th:field="*{stockMode}" type="radio" value="Margin"/>Margin
                    </div>
                    <div class="col-6">
                        <span id="stockModeError"></span>
                    </div>
                </div>

                <!-- row#4 -->
                <div class="row">
                    <div class="col-2">
                        <label for="stockSource">Stock Source</label>
                    </div>
                    <div class="col-4">
                        <select th:field="*{stockSource}">
                            <option value="">-SELECT-</option>
                            <option value="OPEN">OPEN</option>
                            <option value="AVAIL">AVAIL</option>
                            <option value="REFUND">REFUND</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span id="stockSourceError"></span>
                    </div>
                </div>

                <!-- row#4 -->
                <div class="row">
                    <div class="col-2">
                        <label for="defaultStatus">Default Status</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" readonly="readonly"
                               th:field="*{status}" th:value="${saleOrder.setStatus('SALE-OPEN')}" type="text"/>
                    </div>
                    <div class="col-6">
                        <span id="defaultStatusError"></span>
                    </div>
                </div>
                <!-- row#5 -->
                <div class="row">
                    <div class="col-2">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" th:field="*{description}"></textarea>
                    </div>
                    <div class="col-6">
                        <span id="descriptionError"></span>
                    </div>
                </div>
                <!-- row#6 -->
                <div class="row">
                    <button class="btn btn-success">Update Sale Order</button>
                </div>

            </form>
            <!-- form end -->

        </div>
        <!-- body end -->
        <div th:if="${message!=null}">
            <div class="card-footer bg-info text-white text-center">
                <b><span th:text="${message}"></span></b>
            </div>
            <!-- condition end -->
        </div>
        <!-- footer end -->
    </div>
    <!-- card end -->

</div>
<!-- container end -->
</body>
</html>
