<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Sale Order Form</title>
</head>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>
<div class="container">
    <div class="card ">
        <div class="card-header text-center text-white bg-info">
            <h2>Sales Order Form</h2>
        </div>
        <!-- header end -->
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>ORDER CODE</th>
                    <th><input class="form-control" readonly="readonly"
                               th:field="*{so.orderCode}"/></th>

                    <th>defaultStatus</th>
                    <th><input class="form-control" readonly="readonly"
                               th:field="*{so.status}"/></th>
                </tr>
            </table>

            <hr/>


            <div th:if="${so.status == 'SALE-OPEN' || so.status =='SALE-READY'}">
                <h3>ADD PARTS TO CART</h3>
                <!-- Add Parts Form -->
                <form method="POST" th:action="@{/saleorder/addPart}"
                      th:object="${saleDtl}">
                    <input th:field="*{so.id}" type="hidden"/>

                    <div class="row">
                        <div class="col-2">
                            <label>SELECT PART</label>
                        </div>
                        <div class="col-3">
                            <select class="form-control" th:field="*{part.id}">
                                <option th:each="ob:${parts}" th:text="${ob.value}"
                                        th:value="${ob.key}"></option>
                            </select>
                        </div>

                        <div class="col-1">
                            <label>QTY</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" required="required" th:field="*{qty}"
                                   type="text"/>
                        </div>

                        <div class="col-2">
                            <input class="btn btn-success" type="submit" value="Add"/>
                        </div>
                    </div>
                </form>
            </div>

        </div> <!-- card body end -->

        <div class="card-footer">
            <table class="table">
                <tr class="bg-info">
                    <th>SLNO</th>
                    <th>PART CODE</th>
                    <th>BASE COST</th>
                    <th>QTY</th>
                    <th th:if="${so.status =='SALE-READY'}">OPERATION</th>
                </tr>
                <tr th:each="ob,i:${dtlList}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${ob.part.partCode}"></td>
                    <td th:text="${ob.part.partBaseCost}"></td>
                    <td th:text="${ob.qty}"></td>
                    <td th:if="${so.status =='SALE-READY'}"><a
                            class="btn btn-danger"
                            th:href="@{/saleorder/removePart?dtlId={dtlId}&soId={soId}(dtlId=${ob.id},soId=${so.id})}">REMOVE </a></td>
                </tr>
            </table>
            <div align="center" th:if="${so.status =='SALE-READY'}">
                <a class="btn btn-success" th:href="@{/saleorder/conformOrder/{id}(id=${so.id})}">CONFORM</a>
            </div>
            <div align="center" th:if="${so.status =='SALE-CONFIRM'}">
                <b>TOTAL ITEMS PLACED IN ORDER : <span th:text="${dtlList.size()}"></span> </b>
            </div>

        </div>
        <!-- footer end -->
    </div>
    <!-- card end -->
</div>
<!-- container end -->


</body>
</html>