<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
<body>
<div class="container">
    <div th:insert="fragments/commonui :: userheader"></div>

    <div class="card">

        <div class="card-header bg-primary text-white text-center">
            <h3>USER LOGIN PAGE</h3>
        </div>

        <div class="card-body">
            <form method="POST" th:action="@{/user/updateForgotPwd}">

                <div class="row">
                    <div class="col-2">
                        <label for="email">Email Id</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="email" name="email"
                               placeholder="Enter Email Id" required="required"
                               type="text"/>
                    </div>
                </div>

                <br/>
                <input class="btn btn-success" type="submit" value="Generate New Password"/>
                <a class="btn btn-info" th:href="@{/user/showLogin}">Login?</a>
            </form>
        </div>
        <!--card body end-->

        <div class="card-footer bg-white" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
        <!-- card footer end -->

    </div>
    <!-- card end -->


</div>
</body>
</html>