<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
<body>
<div th:insert="fragments/commonui :: userheader"></div>
<div class="container">

    <div class="card">

        <div class="card-header bg-primary text-white text-center">
            <h3>USER ACTIVATE PAGE</h3>
        </div>

        <div class="card-body">
            <form method="POST" th:action="@{/user/activate}">

                <div class="row">
                    <div class="col-2">
                        <label for="emailId">EmailId</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="emailId" name="emailId"
                               placeholder="Enter Email Id" required="required"
                               type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="otp">OTP</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="otp" maxlength="4"
                               name="otp" placeholder="Enter OTP"
                               type="password"/>
                    </div>
                </div>

                <br/>
                <input class="btn btn-success" name="opr" type="submit" value="Activate"/> |
                <input class="btn btn-warning" name="opr" type="submit" value="Resend"/>
                <br/>
                <a th:href="@{/user/showLogin}">LOGIN</a>
            </form>
        </div>
        <!--card body end-->

        <div class="card-footer bg-white" th:if="${message!=null}">
            <span th:text="${message}"></span>
        </div>
        <!-- card footer end -->
    </div>
    <!-- card end -->
</div>
</body>
</html>