<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>

<div th:insert="fragments/commonui :: userheader"></div>
<div th:insert="fragments/commonui :: usermenu"></div>

<h3>Warehouse User Type Edit Page!</h3>
<form method="POST" th:action="@{/wh/update}" th:object="${whUserType}">
<pre>
User Id : <input readOnly th:field="*{id}" type="text"/>
User Type :
	<input th:field="*{userType}" type="radio" value="Vendor"/> Vendor
	<input th:field="*{userType}" type="radio" value="Customer"/> Customer

User Code : <input th:field="*{userCode}" type="text"/>
User For  : <input readOnly th:field="*{userFor}" type="text"/>
User Email: <input th:field="*{userEmail}" type="text"/>
User Contact:
		<textarea th:field="*{userContact}"></textarea>
User ID Type:
		<select th:field="*{userIdType}">
			<option value="">-SELECT-</option>
			<option value="PAN CARD">PAN CARD</option>
			<option value="AADHAR CARD">AADHAR CARD</option>
			<option value="VOTER ID CARD">VOTER ID CARD</option>
			<option value="OTHER">OTHER</option>
		</select>
*IF OTHER : <input th:field="*{userIfOther}" type="text"/>

ID NUMBER: <input th:field="*{userIdNum}" type="text"/>

	<input type="submit" value="Edit User"/>		
</pre>
</form>
</body>
</html>